<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>max-quotes</title>
        <meta quote="description" content="">
        <meta quote="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="img/tag.png">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form>
            <input  id="quote" placeholder="Quote" type="text">
            <input  id="author" placeholder="Author" type="text">
            <button id="create">Create</button>
            <select id="quotes"></select>
            <button id="read">Read</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <div id="content">
                <p id="currentQuote"></p>
                <p>&lt;/&gt;</p>
                <p id="currentAuthor"></p>
            </div>
        <form>
        <script src="js/index.js"></script>
    </body>
</html>